*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: system-ui;
  background-image: url('img/blueshades.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

body > nav {
  position: fixed;
  height: 13%;
  background: #ffffff69;
  box-shadow: 0px 11px 15px 0px #61616159;
  color: black;
  backdrop-filter: blur(5px);
  top: 0px;
  width: 100%;
  z-index: 50;
  display: flex;
  justify-content: space-around;
}

.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:after {
  background: black;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

.purpose {
  justify-self: anchor-center;
  padding-left: 10vh;
}

.purpose-headline {
  font-size: 3em;
}

.purpose-subheadline {
  font-size: 1.5em;
  padding-top: 1em;
}

.landing-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding-top: 10vh;
}

.card {
  width: -webkit-fill-available;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
  border-radius: 0.5rem;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 2px #0000007d;
  border: 1px solid #ffffff00;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem;
}

.card-front {
  background-color: rgb(17 24 39 / 60%);
  color: white;
  font-size: 22px;
  display: grid !important;
}

.card-back {
  background: rgb(255 255 255 / 90%);
  color: #000000;
  transform: rotateY(180deg);
  display: grid;
}

.card-hr {
  align-self: end;
}

.learn-more {
  font-size: small;
  font-style: italic;
  align-self: end;
  line-height: 1;
}

.justify-evenly {
  gap: 20rem;
}

.logo {
  height: -webkit-fill-available
}

.items-center a {
  font-family: system-ui;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: transparent;
  z-index: 1;
  position: relative;
  margin-bottom: 20vh;
}

.intro {
  margin-top: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-top: 10%;
}

.landing-section,
.about-hero-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10vh;
  margin-bottom: unset;
  margin-left: 10vw;
  margin-top: 10%;
}

.about-story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10vh;
  margin: 5vh;
}

.about-slogan {
  font-weight: bold;
  font-size: 2.5em;
}

.about-invent {
  text-align: justify;
  margin-top: 1em;
  font-size: 1.5em;
}

.about-sep {
  background-color: #ffffff69;
  width: 100vw;
  display: flex;
  height: 20vh;
  justify-content: space-evenly;
  padding: 1em;
}

.team-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vh;
  margin: 5vh;
}

.nav-madeingermany {
  background: #00000024;
  border-radius: 5px;
  padding: 0.5em;
  border: 4px solid #000000bf;
  border-bottom: none;
  border-top: none;
  border-right: none;
}

.nav-mig {
  line-height: 1;
  display: flex;
  justify-content: space-between;
}

.nav-desc {
  align-self: end;
}

.genome-pic {
  opacity: 0.7;
  transform: rotate(0deg);
  display: block;
  transition: transform linear;
}

.genome-landing {
  position: absolute;
  max-width: 40%;
  right: -8%;
  top: 30%;
}

.genome-hero {
  transform: rotate(-40deg);
  position: absolute;
  max-width: 20%;
  left: 10%;
  padding-top: 56vh;
  opacity: 1;
}

.hero-section {
  justify-content: flex-start;
  padding-left: 15vh;
  padding-right: 15vh;
  margin-top: 15vh;
}

.main-statement {
  font-size: 1.5em;
  line-height: 3.5em;
  padding-top: 3rem;
}

.intro-statements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
  overflow: hidden;
}

.intro-statement {
  border: 1px solid black;
  padding: 3rem;
  border-radius: 8px;
  background-color: rgb(17 24 39 / 60%);
  color: white;
  margin: 1rem;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.intro-statements .left-top:hover {
  box-shadow: -8px -8px 0px 2px #000000c7;
}

.intro-statements .right-top:hover {
  box-shadow: 8px -8px 0px 2px #000000c7;
}

.intro-statements .left-middle:hover {
  box-shadow: -8px 0px 0px 2px #000000c7;
}

.intro-statements .right-middle:hover {
  box-shadow: 8px 0px 0px 2px #000000c7;
}

.intro-statements .left-bottom:hover {
  box-shadow: -8px 8px 0px 2px #000000c7;
}

.intro-statements .right-bottom:hover {
  box-shadow: 8px 8px 0px 2px #000000c7;
}

.intro-statement .title {
  margin: 0 0 10px;
  font-size: 18px;
}

.intro-statement .description {
  margin: 0;
  font-size: 16px;
}

.intro-statement .detail {
  display: none;
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.5;
  text-align: left;
  overflow-y: auto;
}

.intro-statement:hover .title,
.intro-statement:hover .description {
  display: none;
}

.intro-statement:hover .detail {
  display: block;
}

@media (max-width: 600px) {
  .intro-statements {
    grid-template-columns: 1fr;
    height: auto;
  }
  .intro-statement {
    height: auto;
  }
  .intro-statement .detail {
    overflow-y: visible;
  }
}

.scroll-down {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 1em;
}

.scroll-down:after {
  content: "";
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 5px auto 0;
  background-image: url("img/arrow-down-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  animation: jump 1.5s infinite ease-in-out;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.projects-section {
  position: relative;
  overflow: hidden;
}

.project-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.project-item img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  max-width: none;
}

.footer-section {
  display: flex;
  bottom: 0px;
  position: relative;
  color: white;
  background-color: rgb(17 24 39 / 60%);
  z-index: 1000;
  margin-top: 10vh;
  width: 100vw;
  height: 15vh;
  justify-content: center;
  gap: 15%;
}

#blackforest {
  width: 100%;
  -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.footer-section a:hover {
  color: #009fff;
}

.footer-links {
  align-content: center;
}

p, h1, h2, h3, h4, h5, h6 {
  position: relative;
  z-index: 9999;
}

.text-left {
  margin-left: 2rem;
  max-width: 20rem;
}

.text-right {
  margin-right: 2rem;
  max-width: 20rem;
}

.outro-parent {
  display: flex;
  flex-direction: column;
}
